@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-display: "Outfit", ui-sans-serif, system-ui, sans-serif;

  /* Deep Purple/Blue for Primary */
  --color-primary: #1e1b4b;
  --color-primary-foreground: #ffffff;

  --color-secondary: #f5f3ff;
  /* Light Purple/Slate */
  --color-secondary-foreground: #1e1b4b;

  --color-accent: #7104FF;
  --color-accent-foreground: #ffffff;

  --image-gradient: linear-gradient(135deg, #240046 0%, #7104FF 100%);
}

@layer base {
  html {
    font-family: var(--font-sans);
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
    font-weight: 700;
    letter-spacing: -0.025em;
  }
}

@utility bg-brand-gradient {
  background: var(--image-gradient);
}

html,
body {

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}